// COLORS
$main-dark: #679c38;
$main-light: rgb(255, 255, 255);
$accent: #b1df28de;

// mixins

// @mixin media($width) {
//   @media (max-width: $width) {
//     @content
//   }
// };

@mixin hover {
  @media (hover: hover) {
    &:hover {
      transition: all 0.3s;
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      transition: all 0.3s;
      @content;
    }
  }
}
