@font-face {
  font-family: 'Kaph';
  src:
    url('/fonts/Kaph-Regular.woff2') format('woff2'),
    url('/fonts/Kaph-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  color: $main-light;
}

body {
  background-color: $main-dark;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $main-light;
}

li {
  list-style: none;
}

// select {
//   color: $main-dark;
//   cursor: pointer;

//   border: 1px solid $accent;
//   background: #fff;
//   background-image: url('~/assets/back/select.svg');
//   background-repeat: no-repeat;
//   background-position: bottom 50% right 7px;
//   background-size: 25%;
//   appearance: none;
//   position: relative;
//   transition: all 0.3s ease;
// }
